@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dark {
  background-color: #313131;
}

* {
  transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}