@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.dark {
  background-color: #1E1E1E;
}

* {
  transition: all .8s cubic-bezier(0.075, 0.82, 0.165, 1);
}